body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-img{
    width: 100%;
    height: 100vh;
    position: relative;
}
.header-top{
    position: absolute;
    top: 50px;
    right: 50%;
}
.header-title{
    position: absolute;
    top: 100px;
    align-self: center;
}
.header-buttons{
    position: absolute;
    top: 400px;
    align-self: center;
}
.header-bottom{
    position: absolute;
    bottom: 100px;
    align-self: center;
}
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

a{ 
    color:  inherit; 
} 


.text{
    color: green;
    font-family: 'Cabin', sans-serif;
}

#content{
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: #1b262c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project{
    margin: 5rem;
    width: 70vw;
    height: 50vh;

    background: #f1f1f1;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
.img{
    width: 100%;
}
.project-description{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.social-media-img{
    width: 50px;
    height: 50px;
}
.social-media-img:hover{
    background-color: lightblue;
    border-radius: 20px;
}

hr{
    border-style: solid none none none; 
    width: 70vw;
    border-width: 5px;
    border-color: white;
}

button:hover{
    background: #8ec6c5;
}
.footer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
}
.footer h2{
    color: #f1f1f1;
}