body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
}
.header img{
    width: 100%;
    height: 100vh;
}
.info{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.nav {
    border-bottom: 3px solid #c40018;
    border-top: 3px solid #c40018;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #f0ece2;
    margin: 0;
}
.nav-list{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.nav-item{
    border-left: 3px solid #c40018;
    border-right: 3px solid #c40018;
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 10vh;
}
a{ 
    color:  inherit; 
} 


.text{
    color: #f1f1f1;
    font-family: 'Cabin', sans-serif;
}

#content{
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project{
    margin: 5rem;
    width: 70vw;
    height: 50vh;

    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex-wrap: wrap;
    
}

.project-description{
    width: 40%;
    height: 90%;
}
.project, .project-button{
   align-self: flex-end;
}
.social-media-container{
    width: auto;
    height: 30px;
}

.social-media-img{
    width: 10px;
    height: 10px;
}

hr{
    border-style: solid none none none; 
    width: 70vw;
    border-width: 5px;
    border-color: white;
}

button:hover{
    background: #8ec6c5;
}