body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-img{
    width: 100%;
    height: 100vh;
    position: relative;
}
.header-top{
    position: absolute;
    top: 50px;
    right: 50%;
}
.header-title{
    position: absolute;
    top: 100px;
    align-self: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.header-image{
    position: absolute;
    top: 300px;
    align-self: center;
    width: 150px;
    border-radius: 100%;
}
.header-buttons{
    position: absolute;
    top: 470px;
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fab{
    color: #faf2f2;
    font-size: 40px;
    margin: 10px;
}
.fab:hover{
    color: #d3f4ff;
    font-size: 45px;
    margin: 7px

}
.header-bottom{
    position: absolute;
    bottom: 20px;
    align-self: center;
}
.button{
    border: 0;
    background: #142850;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    
}
.button:hover{
    border: 0;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 150px #2196f3;

    background: #4d4c7d;
}


.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

a{ 
    color:  inherit; 
} 


.header-title .text{
    color: white;
    font-family: 'Cabin', sans-serif;
}

.header-title .text:hover{
    color: red;
    font-family: 'Cabin', sans-serif;
}




#content{
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-image: -webkit-radial-gradient(#43d8c9 , #2c003e );
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project{
    margin: 5rem;
    width: 70vw;
    height: 50vh;

    background: #f1f1f1;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
.img{
    width: 100%;
}
.project-description{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}




hr{
    border-style: solid none none none; 
    width: 70vw;
    border-width: 5px;
    border-color: white;
}


.footer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
}
.footer h2{
    color: #f1f1f1;
}